<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/root_layout">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>BMI</h1>
                <h5>Body Mass Index</h5>
                <h2>Your BMI is 28</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>