<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/root_layout">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>User Information</h1>
                <table class="table table-hover">
                    <tr>
                        <th>
                            Name
                        </th>
                        <td>
                            Avishka Perera
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Height
                        </th>
                        <td>
                            190cm
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Weight
                        </th>
                        <td>
                            95kg
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h1>BMI</h1>
                <h5>Body Mass Index</h5>
                <p>
                    The body mass index (BMI) or Quetelet index is a value derived from the mass (weight) and height of
                    an
                    individual. The BMI is defined as the body mass divided by the square of the body height, and is
                    universally expressed in units of kg/m2, resulting from mass in kilograms and height in metres.
                </p>
                <p><i>Click button to view your BMI</i></p>
                <a th:href="@{/bmi}">
                    <button class="btn">BMI</button>
                </a>
            </div>
            <div class="col-md-6">
                <h1>Protein (grams/day)</h1>
                <h5>Protein grams per day</h5>
                <p>
                    Proteins are large biomolecules, or macromolecules, consisting of one or more long chains of amino
                    acid residues. Proteins perform a vast array of functions within
                    organisms, including catalysing metabolic reactions, DNA replication, responding to stimuli, and
                    transporting molecules from one location to another.
                </p>
                <p><i>Click button to view your daily protein requirement</i></p>
                <a th:href="@{/protein}">
                    <button class="btn">Protein</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>